<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
<!-- css -->
<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
<link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/skills">Skills</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
  </ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="https://github.com/GeorgiosP"><i class="fa fa-github" aria-hidden="true"></i></a></li>
<li><a href="https://www.linkedin.com/profile/preview?vpa=pub&locale=en_US"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>&nbsp;&nbsp;&nbsp;
</div>
</nav>
