<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
<!-- css -->
<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css"/>
<link type="text/css" rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/work">Work</a></li>
      <li><a href="/skills">Skills</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
