<!-- This we have a more indepth information about me and my skills and what i've done -->
<%- include partials/header.ejs %>

<div class="container">
<div class="jumbotron">
<h2><%= title %></h2>
<img class="profile" src="images\jorge.png" alt="profile picture" width="300px" height="440px"/>
<br/>
<p class="aboutMe">I'm currently in the computer programmer analyst program at <strong>Georgian College</strong> I've been programming for about 3 years now.
I have a lot of experience in <strong>PHP</strong> from my coop in Toronto working for a tile company building the internal site for handling sales and purchases</p>
<p class="aboutMe">My goals for the future are to go on to university and get my bachelor's of science in computer science from <strong>The University Of Guelph</strong></p>
</div>
</div>


<%- include partials/footer.ejs %>
