<!-- This we have a more indepth information about me and my skills and what i've done -->
<%- include partials/header.ejs %>
<h1><%= title %></h1>
<h2><%= title %></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet condimentum feugiat. Praesent non consequat turpis. Etiam imperdiet rhoncus volutpat. Vivamus lobortis ex nisl, non finibus mauris ultricies id. Nunc aliquam bibendum vestibulum.
Suspendisse sagittis feugiat fermentum. Praesent nec sapien sollicitudin, iaculis neque quis, tempus risus. Phasellus arcu arcu, consequat sed leo eget, mattis tempor urna.</p>
<p>Nulla iaculis eleifend sodales. Proin sagittis semper sodales. Pellentesque metus sem, fringilla fringilla elementum ut, consectetur nec mauris. Fusce lectus elit, iaculis at neque id, ullamcorper suscipit libero. Fusce eu ex leo. Etiam porttitor, mi eu ultricies hendrerit, est mi ultricies ligula, bibendum congue neque nulla eget lorem. Quisque aliquam ligula
eget eros semper, a tempus tortor sodales. Vestibulum hendrerit eleifend vulputate. In ultricies consequat urna quis egestas. Phasellus eget tellus eget neque placerat tempor.</p>
<%- include partials/footer.ejs %>
