<!-- This we have a more indepth information about me and my skills and what i've done -->
<%- include partials/header.ejs %>
<h1><%= title %></h1>
<div class="container">
<div class="jumbotron">
<img class="banner" src="images\banner-about.jpg" alt="Portfolio Banner">
</div>
</div>
<div class="panel panel-default">
<div class="panel-body">
  <p >Im currently in the computer programmer anaylist program at Georgian College I've been programming for abou 3 years now.</p>
  <p>I have a lot of experience in PHP from my coop in Toronto working for a tile company building there interal site for handling sales and purchases</p>
</div>
</div>

<%- include partials/footer.ejs %>
