<!-- this will have all my contact information includign github and linked-in and the abiility to send out emails -->
<%- include partials/header.ejs %>
<h1><%= title %></h1>


<div class="panel panel-default">
<div class="panel-body">
<form class="email" action="/send" method="post">
<fieldset>
<label for="name" class="col-sm-2">Name:</label>
<input name="name" id="name" placeholder="Enter your name here">
</fieldset>

<fieldset>
<label for="email" class="col-sm-2">Email:</label>
<input name="email" required type="email" id="email" placeholder="Enter your email here">
</fieldset>
<button class="btn btn-primary col-sm-offset-2">Submit</button>
</form>
</div>
</div>

<%- include partials/footer.ejs %>
