<%- include partials/header.ejs %>
    <h1><%= title %></h1>
    <h2>Welcome To My Portfolio Site</h2>
    <div class="container">
    <div class="jumbotron">
    <img class="banner" src="images\landingBanner.png" alt="Portfolio Banner">
    </div>
    </div>
<%- include partials/footer.ejs %>
