<!-- this page will have a list of my past projects -->
<%- include partials/header.ejs %>
<h1><%= title %></h1>

<div class="row">

  <div class="col-xs-6 col-md-3">
<h3 class="workRow1">GitHub Web Project</h3>
    <a href="https://github.com/GeorgiosP/portfolio-advanceWeb" class="thumbnail">
      <img src="images\node-js.jpeg" alt="Node Logo">
    </a>
  </div>

    <div class="col-xs-6 col-md-3">
  <h3 class="workRow1">GitHub PHP Project</h3>
      <a href="https://github.com/GeorgiosP/comp1006-lesson13" class="thumbnail">
        <img src="images\php-logo.png" alt="PHP Logo">
      </a>
    </div>

      <div class="col-xs-6 col-md-3">
      <h3 class="workRow1">GitHub C# Project</h3>
        <a href="https://github.com/GeorgiosP/COMP1004-F2016-Assignment1" class="thumbnail">
          <img src="images\cSharp.png" alt="C# Logo">
        </a>
      </div>
</div>
<%- include partials/footer.ejs %>
