body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
footer{
    align-content: center;
    position: absolute;
    bottom: .5%;

}
footer{
    padding: 5%;
}
img.banner{
  margin-left: 18%;
}
body{
background-color: #d3d3d3;
}
p{
 text-align: center;
}
h3{

margin: 0;

}
